In [1]:
import os
import time
import pandas as pd
from glob import glob
from tqdm.notebook import tqdm

In [2]:
# 현재 위치 확인
os.getcwd()

'C:\\Users\\h_j06\\Desktop\\DMF\\2nd_project'

In [6]:
# 현재 파일 확인
sorted(os.listdir())

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 '0.excel_merge.ipynb',
 '1.text_mining.ipynb',
 '2.visualization.ipynb',
 '2015to2021_Text_Prep.pkl',
 'README.md',
 'code',
 'news.py',
 'requirements.txt',
 'venv',
 '기후위기',
 '상위50그래프.png',
 '워드클라우드.png']

In [2]:
total = pd.DataFrame() # 반환용, 데이터 저장용도

# 반복문 돌리기 위해 전체 파일을 리스트에 담아 가져옴
# 현재 작업 경로의 '기후위기' 폴더에서 '.xlsx'가 있는 모든 파일을 가져옴
excel_files = glob('./기후위기/*.xlsx') 

for file in tqdm(excel_files):
    temp = pd.read_excel(file,header=0) # i 번째 파일을 불러와서 임시로 보관
    total = pd.concat([total,temp]) # temp를 반환용 DataFrame에 합쳐줌


# index 초기화
# drop = True 옵션을 준다면 원래 인덱스를 버린다.
total = total.reset_index(drop=True)

# title 열을 기준으로 중복된 행 제거
total = total.drop_duplicates(subset=['title'])

# 엑셀로 내보내는 코드
total.to_excel('기후위기_20150701_to_20240630.xlsx', index=False)

  0%|          | 0/4 [00:00<?, ?it/s]

In [40]:
# df = pd.read_excel('기후위기_20150701_to_20240630.xlsx', index_col = 0)
df = pd.read_excel('기후위기_20150701_to_20240630.xlsx')
df.head()

,media,date,title,body,link,Unnamed: 0
0,경향신문,2015.11.13. 오후 8:59,[책과 삶]기후 위기 외면하는 인류에 보낸 ‘리얼 SF’,"ㆍ다가올 역사, 서양 문명의 몰락ㆍ나오미 오레스케스 외 지음·홍한별 옮김갈라파고스 ...",https://n.news.naver.com/mnews/article/032/000...,NaN
1,연합뉴스,2015.11.29. 오전 11:51,'기후위기 극복을 염원' 기자회견,(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...,NaN
2,연합뉴스,2015.11.29. 오전 11:53,'파리총회의 성공과 기후위기 극복을 염원',(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...,NaN
3,뉴시스,2015.11.29. 오후 12:07,기후위기 극복을 위한 1000인 선언,【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...,NaN
4,뉴시스,2015.11.29. 오후 12:07,"이부영,' 기후위기 극복을 위해'",【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...,NaN

In [41]:
# Unnamed: 0 컬럼을 drop하여 제거
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df.head()

,media,date,title,body,link
0,경향신문,2015.11.13. 오후 8:59,[책과 삶]기후 위기 외면하는 인류에 보낸 ‘리얼 SF’,"ㆍ다가올 역사, 서양 문명의 몰락ㆍ나오미 오레스케스 외 지음·홍한별 옮김갈라파고스 ...",https://n.news.naver.com/mnews/article/032/000...
1,연합뉴스,2015.11.29. 오전 11:51,'기후위기 극복을 염원' 기자회견,(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...
2,연합뉴스,2015.11.29. 오전 11:53,'파리총회의 성공과 기후위기 극복을 염원',(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...
3,뉴시스,2015.11.29. 오후 12:07,기후위기 극복을 위한 1000인 선언,【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...
4,뉴시스,2015.11.29. 오후 12:07,"이부영,' 기후위기 극복을 위해'",【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...

## 언론사명 불용어처리

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10831 entries, 0 to 10830
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   media   10831 non-null  object
 1   date    10831 non-null  object
 2   title   10831 non-null  object
 3   body    10819 non-null  object
 4   link    10831 non-null  object
dtypes: object(5)
memory usage: 423.2+ KB

In [28]:
df.index.unique()

RangeIndex(start=0, stop=10831, step=1)

In [29]:
# 주어진 리스트
media_list = ['경향신문', '연합뉴스', '뉴시스', '세계일보', '전자신문', '문화일보', '매경이코노미', 'KBS', '뉴스1',
       '프레시안', '조선일보', '오마이뉴스', 'MBC', '국민일보', '미디어오늘', '한겨레', '아시아경제', '중앙일보',
       '동아일보', '한국일보', '노컷뉴스', '매일신문', '헤럴드경제', '부산일보', 'YTN', '파이낸셜뉴스',
       '데일리안', '머니S', '여성신문', '서울신문', '중앙SUNDAY', '머니투데이', '서울경제', '디지털타임스',
       '매일경제', '이데일리', '일다', '시사저널', 'JTBC', '주간경향', '더팩트', 'SBS', '한겨레21',
       '스포츠서울', '한국경제TV', '한국경제', '지디넷코리아', '기자협회보', 'TV조선', '연합뉴스TV', '조선비즈',
       '스포츠조선', '시사IN', '아이뉴스24', '강원일보', '엑스포츠뉴스', '동아사이언스', '스타뉴스', '한경비즈니스',
       'MBN', '마이데일리', 'SBS Biz', '코메디닷컴', '스포츠경향', '디지털데일리', '이코노미스트',
       '스포츠동아', '조세일보', '채널A', '강원도민일보', '레이디경향', '국제신문', 'CJB청주방송', '대전일보',
       '전주MBC', 'JIBS', '대구MBC', 'kbc광주방송', '블로터', '농민신문', '게임메카', '비즈워치',
       '일간스포츠', '주간조선', '경기일보', 'OSEN', '신동아', '더스쿠프', '주간동아', '월간 산', '뉴스타파']

# 각 항목을 튜플로 변환하고 'NNP'를 고정값으로 추가
result = [(item, 'NNP') for item in media_list]

# 결과 출력
print(result)

[('경향신문', 'NNP'), ('연합뉴스', 'NNP'), ('뉴시스', 'NNP'), ('세계일보', 'NNP'), ('전자신문', 'NNP'), ('문화일보', 'NNP'), ('매경이코노미', 'NNP'), ('KBS', 'NNP'), ('뉴스1', 'NNP'), ('프레시안', 'NNP'), ('조선일보', 'NNP'), ('오마이뉴스', 'NNP'), ('MBC', 'NNP'), ('국민일보', 'NNP'), ('미디어오늘', 'NNP'), ('한겨레', 'NNP'), ('아시아경제', 'NNP'), ('중앙일보', 'NNP'), ('동아일보', 'NNP'), ('한국일보', 'NNP'), ('노컷뉴스', 'NNP'), ('매일신문', 'NNP'), ('헤럴드경제', 'NNP'), ('부산일보', 'NNP'), ('YTN', 'NNP'), ('파이낸셜뉴스', 'NNP'), ('데일리안', 'NNP'), ('머니S', 'NNP'), ('여성신문', 'NNP'), ('서울신문', 'NNP'), ('중앙SUNDAY', 'NNP'), ('머니투데이', 'NNP'), ('서울경제', 'NNP'), ('디지털타임스', 'NNP'), ('매일경제', 'NNP'), ('이데일리', 'NNP'), ('일다', 'NNP'), ('시사저널', 'NNP'), ('JTBC', 'NNP'), ('주간경향', 'NNP'), ('더팩트', 'NNP'), ('SBS', 'NNP'), ('한겨레21', 'NNP'), ('스포츠서울', 'NNP'), ('한국경제TV', 'NNP'), ('한국경제', 'NNP'), ('지디넷코리아', 'NNP'), ('기자협회보', 'NNP'), ('TV조선', 'NNP'), ('연합뉴스TV', 'NNP'), ('조선비즈', 'NNP'), ('스포츠조선', 'NNP'), ('시사IN', 'NNP'), ('아이뉴스24', 'NNP'), ('강원일보', 'NNP'), ('엑스포츠뉴스', 'NNP'), ('동아사이언스', 'NNP'), ('스타뉴스', 'NNP'), ('한경비즈니스', 'NNP'), ('MBN', 'NNP'), ('마이데일리', 'NNP'), ('SBS Biz', 'NNP'), ('코메디닷컴', 'NNP'), ('스포츠경향', 'NNP'), ('디지털데일리', 'NNP'), ('이코노미스트', 'NNP'), ('스포츠동아', 'NNP'), ('조세일보', 'NNP'), ('채널A', 'NNP'), ('강원도민일보', 'NNP'), ('레이디경향', 'NNP'), ('국제신문', 'NNP'), ('CJB청주방송', 'NNP'), ('대전일보', 'NNP'), ('전주MBC', 'NNP'), ('JIBS', 'NNP'), ('대구MBC', 'NNP'), ('kbc광주방송', 'NNP'), ('블로터', 'NNP'), ('농민신문', 'NNP'), ('게임메카', 'NNP'), ('비즈워치', 'NNP'), ('일간스포츠', 'NNP'), ('주간조선', 'NNP'), ('경기일보', 'NNP'), ('OSEN', 'NNP'), ('신동아', 'NNP'), ('더스쿠프', 'NNP'), ('주간동아', 'NNP'), ('월간 산', 'NNP'), ('뉴스타파', 'NNP')]

## datetime type 변경

In [43]:
# '오전'과 '오후'를 각각 'AM'과 'PM'으로 변환
df['date'] = df['date'].str.replace('오전', 'AM').str.replace('오후', 'PM')

# date 열을 datetime 형식으로 변환
df['date'] = pd.to_datetime(df['date'], format='%Y.%m.%d. %p %I:%M')

# 변환된 데이터 타입 확인
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10831 entries, 0 to 10830
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   media   10831 non-null  object
 1   date    10831 non-null  datetime64[ns]
 2   title   10831 non-null  object
 3   body    10819 non-null  object
 4   link    10831 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 423.2+ KB
None

## 특정 기간 데이터 추출

In [37]:
df_filtered = df[df['date'].between('2015-07-01', '2019-06-30')]
df_filtered.tail()

,media,date,title,body,link
17,연합뉴스,2019-06-15 00:52:00,"교황, 석유회사 CEO들에 ""기후 위기 대처에 즉각 나서라""","교황청, 이틀에 걸쳐 석유회사 대표 등 초청해 기후변화 회의(로마=연합뉴스) 현윤경...",https://n.news.naver.com/mnews/article/001/001...
18,KBS,2019-06-15 04:31:00,"교황, 석유회사 CEO들에 “기후 위기 대처에 즉각 나서라”",프란치스코 교황이 글로벌 대형 석유 회사들의 최고경영자(CEO)들에게 급격히 진행되...,https://n.news.naver.com/mnews/article/056/001...
19,연합뉴스,2019-06-19 16:50:00,"""북극 영구동토층 예상보다 70년 빨리 녹아…기후 위기 징후""","美 알래스카대 연구팀 논문…""현재 이후 5천년 이래 가장 따뜻""\n\n\n\n'북극...",https://n.news.naver.com/mnews/article/001/001...
20,오마이뉴스,2019-06-19 19:24:00,"""여름철 누진제 완화? '냉방권' 보장 아닌 '기후위기' 초래""","환경단체, '누진구간 확장안' 반대... 전기세 등 도입해 재생에너지 확대 주장[오...",https://n.news.naver.com/mnews/article/047/000...
21,뉴시스,2019-06-28 13:07:00,'트럼프 대통령에게 기후 위기 책임을 묻는다',【서울=뉴시스】김진아 기자 = 녹색당 관계자들이 도널드 트럼프 미국 대통령 방한을 ...,https://n.news.naver.com/mnews/article/003/000...

In [39]:
def save_quarterly_data(df, start_date, end_date, output_prefix):
    # 데이터 프레임을 주어진 기간으로 필터링
    df_filtered = df[df['date'].between(start_date, end_date)]

    # 각 분기를 설정
    quarters = [
        ('2015-07-01', '2019-06-30'),
        ('2019-07-01', '2020-06-30'),
        ('2020-07-01', '2021-06-30'),
        ('2021-07-01', '2022-06-30'),
        ('2022-07-01', '2023-06-30'),
        ('2023-07-01', '2024-06-30')
    ]

    # 각 분기별로 데이터를 필터링하고 엑셀 파일로 저장
    for i, (start, end) in enumerate(quarters):
        # 분기별 데이터 필터링
        df_quarter = df_filtered[df_filtered['date'].between(start, end)]
        
        # 엑셀 파일 이름 설정
        output_file = f"{output_prefix}_Q{i+1}_{start.replace('-', '')}_to_{end.replace('-', '')}.xlsx"
        
        # 엑셀 파일로 저장
        df_quarter.to_excel(output_file, index=False)

# 사용 예시
# df는 이전에 정의된 데이터프레임
save_quarterly_data(df, '2015-07-01', '2024-06-30', 'quarterly_data')

## 특정 언론사 추출

In [46]:
def save_media_data(df, media_list, output_prefix):
    for media in media_list:
        # 각 언론사에 해당하는 데이터 필터링
        df_filtered = df.loc[df['media'] == media]
        
        # 엑셀 파일 이름 설정
        output_file = f"{output_prefix}_{media}.xlsx"
        
        # 엑셀 파일로 저장
        df_filtered.to_excel(output_file, index=False)
        
        print(f"Saved: {output_file}")

# 사용 예시
media_list = ['경향신문', '연합뉴스', '뉴시스', '세계일보', '전자신문', '문화일보', '매경이코노미', 'KBS', '뉴스1',
              '프레시안', '조선일보', '오마이뉴스', 'MBC', '국민일보', '미디어오늘', '한겨레', '아시아경제', '중앙일보',
              '동아일보', '한국일보', '노컷뉴스', '매일신문', '헤럴드경제', '부산일보', 'YTN', '파이낸셜뉴스',
              '데일리안', '머니S', '여성신문', '서울신문', '중앙SUNDAY', '머니투데이', '서울경제', '디지털타임스',
              '매일경제', '이데일리', '일다', '시사저널', 'JTBC', '주간경향', '더팩트', 'SBS', '한겨레21',
              '스포츠서울', '한국경제TV', '한국경제', '지디넷코리아', '기자협회보', 'TV조선', '연합뉴스TV', '조선비즈',
              '스포츠조선', '시사IN', '아이뉴스24', '강원일보', '엑스포츠뉴스', '동아사이언스', '스타뉴스', '한경비즈니스',
              'MBN', '마이데일리', 'SBS Biz', '코메디닷컴', '스포츠경향', '디지털데일리', '이코노미스트',
              '스포츠동아', '조세일보', '채널A', '강원도민일보', '레이디경향', '국제신문', 'CJB청주방송', '대전일보',
              '전주MBC', 'JIBS', '대구MBC', 'kbc광주방송', '블로터', '농민신문', '게임메카', '비즈워치',
              '일간스포츠', '주간조선', '경기일보', 'OSEN', '신동아', '더스쿠프', '주간동아', '월간 산', '뉴스타파']

# df는 이전에 정의된 데이터프레임
save_media_data(df, media_list, 'media_data')

Saved: media_data_경향신문.xlsx
Saved: media_data_연합뉴스.xlsx
Saved: media_data_뉴시스.xlsx
Saved: media_data_세계일보.xlsx
Saved: media_data_전자신문.xlsx
Saved: media_data_문화일보.xlsx
Saved: media_data_매경이코노미.xlsx
Saved: media_data_KBS.xlsx
Saved: media_data_뉴스1.xlsx
Saved: media_data_프레시안.xlsx
Saved: media_data_조선일보.xlsx
Saved: media_data_오마이뉴스.xlsx
Saved: media_data_MBC.xlsx
Saved: media_data_국민일보.xlsx
Saved: media_data_미디어오늘.xlsx
Saved: media_data_한겨레.xlsx
Saved: media_data_아시아경제.xlsx
Saved: media_data_중앙일보.xlsx
Saved: media_data_동아일보.xlsx
Saved: media_data_한국일보.xlsx
Saved: media_data_노컷뉴스.xlsx
Saved: media_data_매일신문.xlsx
Saved: media_data_헤럴드경제.xlsx
Saved: media_data_부산일보.xlsx
Saved: media_data_YTN.xlsx
Saved: media_data_파이낸셜뉴스.xlsx
Saved: media_data_데일리안.xlsx
Saved: media_data_머니S.xlsx
Saved: media_data_여성신문.xlsx
Saved: media_data_서울신문.xlsx
Saved: media_data_중앙SUNDAY.xlsx
Saved: media_data_머니투데이.xlsx
Saved: media_data_서울경제.xlsx
Saved: media_data_디지털타임스.xlsx
Saved: media_data_매일경제.xlsx
Saved: media_data_이데일리.xlsx
Saved: media_data_일다.xlsx
Saved: media_data_시사저널.xlsx
Saved: media_data_JTBC.xlsx
Saved: media_data_주간경향.xlsx
Saved: media_data_더팩트.xlsx
Saved: media_data_SBS.xlsx
Saved: media_data_한겨레21.xlsx
Saved: media_data_스포츠서울.xlsx
Saved: media_data_한국경제TV.xlsx
Saved: media_data_한국경제.xlsx
Saved: media_data_지디넷코리아.xlsx
Saved: media_data_기자협회보.xlsx
Saved: media_data_TV조선.xlsx
Saved: media_data_연합뉴스TV.xlsx
Saved: media_data_조선비즈.xlsx
Saved: media_data_스포츠조선.xlsx
Saved: media_data_시사IN.xlsx
Saved: media_data_아이뉴스24.xlsx
Saved: media_data_강원일보.xlsx
Saved: media_data_엑스포츠뉴스.xlsx
Saved: media_data_동아사이언스.xlsx
Saved: media_data_스타뉴스.xlsx
Saved: media_data_한경비즈니스.xlsx
Saved: media_data_MBN.xlsx
Saved: media_data_마이데일리.xlsx
Saved: media_data_SBS Biz.xlsx
Saved: media_data_코메디닷컴.xlsx
Saved: media_data_스포츠경향.xlsx
Saved: media_data_디지털데일리.xlsx
Saved: media_data_이코노미스트.xlsx
Saved: media_data_스포츠동아.xlsx
Saved: media_data_조세일보.xlsx
Saved: media_data_채널A.xlsx
Saved: media_data_강원도민일보.xlsx
Saved: media_data_레이디경향.xlsx
Saved: media_data_국제신문.xlsx
Saved: media_data_CJB청주방송.xlsx
Saved: media_data_대전일보.xlsx
Saved: media_data_전주MBC.xlsx
Saved: media_data_JIBS.xlsx
Saved: media_data_대구MBC.xlsx
Saved: media_data_kbc광주방송.xlsx
Saved: media_data_블로터.xlsx
Saved: media_data_농민신문.xlsx
Saved: media_data_게임메카.xlsx
Saved: media_data_비즈워치.xlsx
Saved: media_data_일간스포츠.xlsx
Saved: media_data_주간조선.xlsx
Saved: media_data_경기일보.xlsx
Saved: media_data_OSEN.xlsx
Saved: media_data_신동아.xlsx
Saved: media_data_더스쿠프.xlsx
Saved: media_data_주간동아.xlsx
Saved: media_data_월간 산.xlsx
Saved: media_data_뉴스타파.xlsx

In [48]:
import pandas as pd

# 언론사 리스트를 지정
media_group_1 = ['경향신문', '한겨레21', '한겨레']
media_group_2 = ['동아일보', '조선일보', '중앙일보', '한국일보']

def save_media_groups(df, media_group_1, media_group_2):
    # 첫 번째 그룹 필터링 및 저장
    df_group_1 = df[df['media'].isin(media_group_1)]
    df_group_1.to_excel('media_group_1.xlsx', index=False)
    
    # 두 번째 그룹 필터링 및 저장
    df_group_2 = df[df['media'].isin(media_group_2)]
    df_group_2.to_excel('media_group_2.xlsx', index=False)

# 사용 예시
# df는 이전에 정의된 데이터프레임
save_media_groups(df, media_group_1, media_group_2)